@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}

svg, img{
    pointer-events: none !important;
}

*::-webkit-scrollbar {
    width: 3px;
}
   
*::-webkit-scrollbar-track {
    @apply bg-gray-900;
}
   
*::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-2xl;
}
h5{
    @apply mb-3;
}
ul, ol{
    @apply mb-4;
}
li{
    @apply mb-2;
}

.no-arrow::-webkit-inner-spin-button,
.no-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.no-arrow {
    -moz-appearance: textfield;
}